{% extends "CodeLoversExamSignupBundle::layout.html.twig" %}

{% block content %}
    {% spaceless %}
        <h1 class="page-title">{{ 'users.title'|trans|desc('Users') }}</h1>

        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>{{ 'users.lastName'|trans|desc('Last name') }}</th>
                    <th>{{ 'users.firstName'|trans|desc('First name') }}</th>
                    <th>{{ 'users.username'|trans|desc('Username') }}</th>
                    <th>{{ 'users.email'|trans|desc('E-Mail Address') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><img src="{{ gravatar(user.email) }}" class="img-thumbnail" alt="gravatar" /></td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>
                        {{ user.username }}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a class="btn btn-info pull-right btn-xs" href="{{ path('_change_username', {'user_id': user.id}) }}"><i class="fa fa-edit"></i> </a>
                        {% endif %}
                    </td>
                    <td>{{ user.email }}</td>
                    <td>
                        <div class="btn-group pull-right">
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <a class="btn btn-sm btn-danger" href="{{ path('_delete_user', {'id': user.id}) }}"><i class="fa fa-times"></i> {{ 'user.delete'|trans|desc('Delete') }}</a>
                            {% endif %}
                            {% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}
                                <a class="btn btn-sm btn-primary" href="{{ path('_index', {'_switch_user': user.email}) }}"><i class="fa fa-user"></i> {{ 'user.switch'|trans|desc('Switch to user') }}</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endspaceless %}
{% endblock content %}